# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.cproject
.cproject .git .gitignore .project
.gitignore
.project
paa.log
Debug/makefile Debug/objects.mk Debug/PAATPFinal Debug/sources.mk Debug/src
Debug
bin
execute.sh~
.gitignore .gitignore_bkp
.gitignore_bkp
inputs/teste_vertex_cover.txt~
